@media screen and (max-width: 950px) {
  .box-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  
  .report-topic-heading,
  .item1,
  .items {
    width: 90%;
  }

  .report-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .view {
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 850px) {
  .box-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .report-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .view {
    width: 100%;
    font-size: 12px;
  }
  
  .report-topic-heading,
  .item1,
  .items {
    width: 90%;
  }
  
  .report-body {
    padding: 10px;
  }
}

@media screen and (max-width: 490px) {
  .report-header {
    height: 60px;
    padding: 10px;
  }

  .recent-Articles {
    font-size: 20px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 100%;
  }

  .view {
    width: 60px;
    font-size: 10px;
    height: 27px;
  }
}

@media screen and (max-width: 400px) {
  .view {
    width: 50px;
    font-size: 8px;
    height: 27px;
  }

  .report-header {
    height: 60px;
    padding: 10px 5px 5px 5px;
  }

  .recent-Articles {
    font-size: 17px;
  }

  .t-op {
    font-size: 12px;
  }

  .t-op-nextlvl {
    font-size: 10px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .recent-Articles {
    font-size: 12px;
  }

  .view {
    width: 50px;
    font-size: 8px;
    height: 27px;
  }

  .t-op {
    font-size: 10px;
  }

  .t-op-nextlvl {
    font-size: 9px;
  }

  .report-header {
    height: 60px;
    padding: 10px 5px 5px 5px;
  }

  .report-topic-heading,
  .item1,
  .items {
    width: 250px;
  }

  .label-tag {
    width: 70px;
  }
}


